body {
  background-image: url('assets/BC.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}
