/* Coolors Exported Palette - https://coolors.co/ef9b59-2b363e-85b4bc-f4debd-02375e */

/* CSS HEX */
--sandy-brown: #EF9B59ff;
--gunmetal: #2B363Eff;
--moonstone: #85B4BCff;
--wheat: #F4DEBDff;
--prussian-blue: #02375Eff;

/* CSS HSL */
--sandy-brown: hsla(26, 82%, 64%, 1);
--gunmetal: hsla(205, 18%, 21%, 1);
--moonstone: hsla(189, 29%, 63%, 1);
--wheat: hsla(36, 71%, 85%, 1);
--prussian-blue: hsla(205, 96%, 19%, 1);

/* SCSS HEX */
$sandy-brown: #EF9B59ff;
$gunmetal: #2B363Eff;
$moonstone: #85B4BCff;
$wheat: #F4DEBDff;
$prussian-blue: #02375Eff;

/* SCSS HSL */
$sandy-brown: hsla(26, 82%, 64%, 1);
$gunmetal: hsla(205, 18%, 21%, 1);
$moonstone: hsla(189, 29%, 63%, 1);
$wheat: hsla(36, 71%, 85%, 1);
$prussian-blue: hsla(205, 96%, 19%, 1);

/* SCSS RGB */
$sandy-brown: rgba(239, 155, 89, 1);
$gunmetal: rgba(43, 54, 62, 1);
$moonstone: rgba(133, 180, 188, 1);
$wheat: rgba(244, 222, 189, 1);
$prussian-blue: rgba(2, 55, 94, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);
$gradient-right: linear-gradient(90deg, #EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);
$gradient-bottom: linear-gradient(180deg, #EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);
$gradient-left: linear-gradient(270deg, #EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);
$gradient-top-right: linear-gradient(45deg, #EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);
$gradient-bottom-right: linear-gradient(135deg, #EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);
$gradient-top-left: linear-gradient(225deg, #EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);
$gradient-bottom-left: linear-gradient(315deg, #EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);
$gradient-radial: radial-gradient(#EF9B59ff, #2B363Eff, #85B4BCff, #F4DEBDff, #02375Eff);